.home {
    padding: 30px;
    margin: 0 auto;
    width: 100%;
    flex: 1;
    background-color: #f4f4f4
}

#searchForm .btn {
    color: #ffa500;
    border-color: #ffa500;
    background-color: transparent;
    transition: all 0.3s ease;
}

#searchForm .btn:hover {
    color: white;
    background-color: #e59400;
}

.searchbar button:hover {
    background-color: #e59400;
}

.home-container {
    background-image: url("../assets/img/home-background.png");
    background-size: cover;
    background-position: center;
    height: fit-content;
    width: 100%;
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.home-container .home-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.home-container .home-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}

@media (max-width: 600px) {
    .searchbar {
      min-width: 300px;
      flex-direction: column;
      align-items: center;
    }

    .searchbar input {
      width: 80%;
      margin-bottom: .5em;
    }

    .product-card {
        width: 100%;
        max-width: 300px;
    }
}